@{
    ViewData["Title"] = "Home Page";
    var student = ViewData["studends"] as List<StudentModel>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* <table>
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Class</th>

    </tr>
    @foreach (var stud in student)
    {
        <tr>
            <td>@stud.rollNo</td>
            <td>@stud.Name</td>
            <td>@stud.Gender</td>
            <td>@stud.Standard</td>
        </tr>
    }
</table> *@
