<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <centre> <h1>  Second Layout File</h1></centre>
        @RenderBody()
    </div>
</body>
</html>
