<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link  />
</head>
<body>
 <header style="background-color:aqua;">Header Portion</header>
  
        @RenderBody()

    <footer style="background-color:mediumaquamarine;">
            <h1>Footer Portion</h1>
        </footer>
</body>
</html>
