
@{
    ViewData["Title"] = "About";
    // Layout = "~/Views/Shared/_Layout.cshtml";

}

@ViewData["data1"]
<br />
@ViewBag.data2
<br />
@TempData["data3"]

<h1>About Page</h1>
<p>This is my About Page</p>

