@model LoginFormAspCore6.Models.UserTable

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>UserTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       @{
            if (ViewBag.Messege!=null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Failed!</strong>@ViewBag.Messege
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
       }
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-outline-primary " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Register" asp-controller="home" class="btn btn-outline-secondary">Sign Up</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
