@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img  src="~/images/gig image 2.jpg" asp-append-version="true" height="200" width="400" alt="No image"/>
<a asp-action="home" asp-controller="privacy">Go to privacy</a>